In [1]:
import pandas as pd

In [3]:

data = pd.read_csv('F://bikebuyer.csv')
data

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,NaN,Married,Male,160000,5.0,Partial College,Professional,No,3,2.0,Europe,55,No
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,25410.0,NaN,Female,70000,2.0,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes
5,4.0,Married,NaN,120000,2.0,Bachelors,Management,Yes,3,1.0,North America,40,No
6,15756.0,Single,Female,70000,0.0,High School,Professional,Yes,2,NaN,Pacific,49,Yes
7,11085.0,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
8,17974.0,NaN,Female,0,NaN,Bachelors,Clerical,Yes,0,10.0,Europe,38,Yes
9,21008.0,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,28985.0,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,11087.0,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
12,20434.0,Single,NaN,60000,0.0,Partial College,Skilled Manual,No,2,1.0,North America,31,Yes
13,14902.0,NaN,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,50,Yes
14,11091.0,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,11094.0,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,18568.0,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,16366.0,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,20768.0,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
19,11098.0,NaN,Female,60000,0.0,Partial College,Skilled Manual,No,1,6.0,Pacific,45,No
20,18269.0,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
21,11102.0,Single,NaN,80000,5.0,Bachelors,Professional,Yes,4,12.0,Pacific,41,No
22,11113.0,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
23,26529.0,NaN,Female,70000,0.0,Graduate Degree,Professional,Yes,0,NaN,North America,37,Yes
24,11114.0,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,23612.0,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,11115.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,11116.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
28,11118.0,Single,Male,80000,NaN,Partial College,Skilled Manual,No,1,5.0,Pacific,49,No
29,19441.0,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6967,22779.0,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,22781.0,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,22783.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,22786.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,22792.0,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,22793.0,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,22794.0,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,22795.0,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,22796.0,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,22798.0,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,22799.0,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,22801.0,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,22802.0,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,22804.0,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,22805.0,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,22806.0,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,22807.0,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,22809.0,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,22811.0,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,22812.0,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,22813.0,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,22814.0,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,22815.0,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,22818.0,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,22819.0,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,22820.0,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,22821.0,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,22823.0,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,22825.0,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,22826.0,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [4]:
data.head()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
2,NaN,Married,Male,160000,5.0,Partial College,Professional,No,3,2.0,Europe,55,No
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
4,25410.0,NaN,Female,70000,2.0,Bachelors,Skilled Manual,No,1,1.0,North America,38,Yes

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6997 entries, 0 to 6996
Data columns (total 13 columns):
ID                  6996 non-null float64
Marital Status      6981 non-null object
Gender              6968 non-null object
Yearly Income       6997 non-null int64
Children            6979 non-null float64
Education           6997 non-null object
Occupation          6997 non-null object
Home Owner          6997 non-null object
Cars                6997 non-null int64
Commute Distance    6968 non-null float64
Region              6997 non-null object
Age                 6997 non-null int64
Bike Buyer          6997 non-null object
dtypes: float64(3), int64(3), object(7)
memory usage: 710.7+ KB

In [6]:
data.tail()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
6992,22820.0,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,22821.0,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,22823.0,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,22825.0,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,22826.0,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [9]:
data.isnull().any()

ID                   True
Marital Status       True
Gender               True
Yearly Income       False
Children             True
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance     True
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [5]:
data.isnull().sum()

ID                   1
Marital Status      16
Gender              29
Yearly Income        0
Children            18
Education            0
Occupation           0
Home Owner           0
Cars                 0
Commute Distance    29
Region               0
Age                  0
Bike Buyer           0
dtype: int64

In [6]:
data.isnull().any()

ID                   True
Marital Status       True
Gender               True
Yearly Income       False
Children             True
Education           False
Occupation          False
Home Owner          False
Cars                False
Commute Distance     True
Region              False
Age                 False
Bike Buyer          False
dtype: bool

In [10]:
data.isnull().sum()

ID                   1
Marital Status      16
Gender              29
Yearly Income        0
Children            18
Education            0
Occupation           0
Home Owner           0
Cars                 0
Commute Distance    29
Region               0
Age                  0
Bike Buyer           0
dtype: int64

In [11]:
data.dropna()

,ID,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,22711.0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,13555.0,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
3,2.0,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
7,11085.0,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
9,21008.0,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,28985.0,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,11087.0,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
14,11091.0,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,11094.0,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,18568.0,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,16366.0,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,20768.0,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
20,18269.0,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
22,11113.0,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
24,11114.0,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,23612.0,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,11115.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,11116.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
29,19441.0,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
30,11103.0,Single,Female,70000,0.0,Bachelors,Professional,Yes,1,1.0,Pacific,42,Yes
31,11104.0,Married,Male,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,42,Yes
32,15834.0,Single,Female,40000,0.0,Partial College,Skilled Manual,No,1,6.0,North America,30,Yes
33,20824.0,Single,Male,30000,0.0,Bachelors,Clerical,Yes,0,2.0,Europe,63,Yes
35,11121.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,45,No
36,11122.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,46,No
37,11123.0,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,2.0,Pacific,46,No
38,11125.0,Single,Female,70000,0.0,Partial College,Skilled Manual,Yes,1,2.0,Pacific,50,No
39,11127.0,Married,Female,40000,0.0,High School,Skilled Manual,Yes,1,1.0,North America,31,No
40,21969.0,Single,Female,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,38,Yes
41,19869.0,Married,Female,70000,1.0,Partial College,Professional,Yes,2,8.0,North America,58,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6967,22779.0,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,22781.0,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,22783.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,22786.0,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,22792.0,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,22793.0,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,22794.0,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,22795.0,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,22796.0,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,22798.0,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,22799.0,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,22801.0,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,22802.0,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,22804.0,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,22805.0,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,22806.0,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,22807.0,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,22809.0,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,22811.0,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,22812.0,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,22813.0,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,22814.0,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,22815.0,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,22818.0,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,22819.0,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,22820.0,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,22821.0,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,22823.0,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,22825.0,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,22826.0,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [21]:
data.dropna(inplace=True)  # axis=0 
data

,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
3,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
7,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
9,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes
10,Single,Male,50000,0.0,Bachelors,Management,No,2,2.0,North America,64,No
11,Married,Female,70000,2.0,Partial College,Professional,No,0,11.0,North America,49,No
14,Married,Male,90000,0.0,Partial College,Professional,Yes,1,1.0,North America,49,No
15,Single,Male,70000,0.0,Partial College,Skilled Manual,No,1,1.0,Pacific,44,No
16,Single,Female,50000,2.0,Bachelors,Skilled Manual,Yes,1,2.0,North America,39,Yes
17,Married,Female,40000,0.0,Partial College,Clerical,Yes,1,1.0,North America,51,Yes
18,Single,Male,0,0.0,Partial College,Clerical,Yes,1,2.0,North America,48,Yes
20,Single,Female,60000,2.0,Bachelors,Professional,Yes,2,1.0,Pacific,43,Yes
22,Married,Male,70000,4.0,Bachelors,Professional,Yes,2,1.0,Pacific,44,No
24,Single,Female,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
25,Single,Female,90000,0.0,Partial College,Professional,No,2,1.0,Europe,62,Yes
26,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,1.0,Pacific,44,No
27,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,2,9.0,Pacific,44,No
29,Single,Male,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
30,Single,Female,70000,0.0,Bachelors,Professional,Yes,1,1.0,Pacific,42,Yes
31,Married,Male,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,42,Yes
32,Single,Female,40000,0.0,Partial College,Skilled Manual,No,1,6.0,North America,30,Yes
33,Single,Male,30000,0.0,Bachelors,Clerical,Yes,0,2.0,Europe,63,Yes
35,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,45,No
36,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,1.0,Pacific,46,No
37,Married,Male,70000,4.0,Partial College,Skilled Manual,Yes,3,2.0,Pacific,46,No
38,Single,Female,70000,0.0,Partial College,Skilled Manual,Yes,1,2.0,Pacific,50,No
39,Married,Female,40000,0.0,High School,Skilled Manual,Yes,1,1.0,North America,31,No
40,Single,Female,70000,0.0,Bachelors,Professional,No,1,1.0,Pacific,38,Yes
41,Married,Female,70000,1.0,Partial College,Professional,Yes,2,8.0,North America,58,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
6967,Married,Male,60000,1.0,Partial College,Professional,Yes,2,2.0,North America,54,No
6968,Married,Male,70000,2.0,Partial College,Professional,Yes,1,1.0,North America,55,No
6969,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,2,1.0,North America,54,No
6970,Married,Male,70000,1.0,Partial High School,Skilled Manual,Yes,3,2.0,North America,54,No
6971,Married,Male,70000,3.0,Partial College,Professional,Yes,1,7.0,North America,53,No
6972,Single,Male,70000,3.0,Partial College,Professional,Yes,1,8.0,North America,53,No
6973,Married,Female,130000,4.0,Partial College,Professional,Yes,1,9.0,Europe,48,No
6974,Married,Female,110000,4.0,Partial College,Professional,Yes,3,2.0,Europe,49,No
6975,Married,Male,110000,4.0,Partial College,Professional,No,3,3.0,Europe,49,No
6976,Married,Female,150000,3.0,High School,Professional,Yes,4,5.0,Europe,49,No
6977,Married,Female,120000,4.0,Partial High School,Professional,No,4,6.0,Europe,50,No
6978,Married,Female,110000,4.0,Partial College,Professional,Yes,4,7.0,Europe,51,No
6979,Single,Female,120000,4.0,Partial High School,Professional,Yes,4,1.0,Europe,51,No
6980,Married,Female,80000,1.0,Partial College,Professional,Yes,2,2.0,Europe,51,No
6981,Married,Female,80000,0.0,Bachelors,Management,Yes,2,1.0,Europe,62,No
6982,Married,Female,90000,0.0,Partial College,Professional,Yes,2,1.0,Europe,62,No
6983,Married,Female,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,62,No
6984,Married,Male,80000,0.0,Partial College,Professional,Yes,2,7.0,Europe,61,No
6985,Married,Male,110000,4.0,Bachelors,Management,Yes,4,8.0,Europe,61,No
6986,Married,Female,120000,4.0,Bachelors,Management,Yes,4,9.0,Europe,61,No
6987,Married,Male,130000,4.0,Bachelors,Management,Yes,4,2.0,Europe,61,No
6988,Married,Male,100000,3.0,Bachelors,Management,Yes,4,3.0,Europe,60,No
6989,Married,Female,100000,4.0,Bachelors,Management,Yes,1,5.0,Europe,60,No
6990,Married,Female,150000,4.0,Graduate Degree,Management,Yes,4,6.0,Europe,60,No
6991,Married,Female,80000,2.0,Partial College,Professional,Yes,2,7.0,Europe,53,No
6992,Married,Male,100000,4.0,High School,Professional,Yes,3,1.0,Europe,52,No
6993,Married,Female,130000,4.0,Partial College,Professional,Yes,4,2.0,Europe,52,No
6994,Married,Female,160000,5.0,Bachelors,Management,Yes,2,1.0,Europe,53,No
6995,Single,Female,120000,5.0,Partial College,Professional,Yes,3,1.0,Europe,54,No
6996,Married,Male,130000,5.0,High School,Professional,Yes,3,2.0,Europe,54,No

In [22]:
data.isnull().sum()

Marital Status      0
Gender              0
Yearly Income       0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Bike Buyer          0
dtype: int64

In [23]:
data.head()

,Marital Status,Gender,Yearly Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Bike Buyer
0,Single,Male,30000,0.0,Partial College,Clerical,No,1,1.0,Europe,33,Yes
1,Married,Female,40000,0.0,Graduate Degree,Clerical,Yes,0,1.0,Europe,37,Yes
3,Single,Male,160000,0.0,Graduate Degree,Management,Yes,2,5.0,Pacific,47,No
7,Single,Female,60000,0.0,High School,Professional,No,2,1.0,North America,49,No
9,Single,Female,20000,1.0,Partial College,Manual,No,0,1.0,Europe,46,Yes

In [25]:
data.drop(labels='ID',axis=1,inplace=True) # droping id  axis=1--> rows

In [26]:
data['Marital Status'].unique()

array(['Single', 'Married'], dtype=object)

In [14]:
data['Marital Status'].nunique()

2

In [15]:
data['Marital Status'].value_counts()

Married    4102
Single     2807
Name: Marital Status, dtype: int64

In [16]:
data.keys()

Index(['Marital Status', 'Gender', 'Yearly Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Bike Buyer'],
      dtype='object')

In [17]:
# how many people single and married will buy a bike

In [27]:
data['Marital Status'][data['Bike Buyer']=='Yes'].value_counts()

Married    480
Single     472
Name: Marital Status, dtype: int64

In [ ]:
# how many married males not having bike

In [35]:
data['Marital Status'][(data['Gender']=='Male') & (data['Bike Buyer']=='No') & (data['Marital Status']=='Married')].value_counts()

Married    1945
Name: Marital Status, dtype: int64

In [37]:
#Find the partial college home owners who have the bike:
data.keys()

Index(['Marital Status', 'Gender', 'Yearly Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Bike Buyer'],
      dtype='object')

In [39]:
data['Education'][(data['Home Owner']=='Yes')&(data['Bike Buyer']=='Yes')&(data['Education']=='Partial College')].value_counts()

Partial College    183
Name: Education, dtype: int64

In [47]:
(data['Education']=='Partial College')[(data['Home Owner']=='Yes') & (data['Bike Buyer']=='Yes')].value_counts()

False    498
True     183
Name: Education, dtype: int64

In [48]:
# unmarried proffessionals who doesnt have bike:

In [53]:
data.keys()

Index(['Marital Status', 'Gender', 'Yearly Income', 'Children', 'Education',
       'Occupation', 'Home Owner', 'Cars', 'Commute Distance', 'Region', 'Age',
       'Bike Buyer'],
      dtype='object')

In [65]:
data['Marital Status'][(data['Marital Status']=='Single') & (data['Occupation']=='Professional') & (data['Bike Buyer']=='Yes')].value_counts()

Single    145
Name: Marital Status, dtype: int64

In [64]:
(data['Marital Status']=='Single')[(data['Occupation']=='Professional')&(data['Bike Buyer']=='No')].value_counts()

False    1157
True      555
Name: Marital Status, dtype: int64

In [69]:
(data['Yearly Income']>62500)[(data['Home Owner']=='Yes')].value_counts()

False    3053
True     1870
Name: Yearly Income, dtype: int64