In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math
import networkx as nx  # it draws the connections to all the points.

In [2]:
# grouplens.org is for NLP website same as Kaggle etc..

In [3]:
df= pd.read_csv('F://ratings.csv')
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
#remove timestamp----> in reality this should consider
df.drop('timestamp',axis=1,inplace=True)

In [5]:
df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

![colab.jpg](https://i.postimg.cc/ZnnJz5XB/colab.jpg)

In [7]:
df.shape

(100836, 3)

In [8]:
# no.of users in dataset
len(df['userId'].unique())

610

In [9]:
#no.of movies in data set
len(df['movieId'].unique())

9724

In [10]:
#pivot table or cross tab
user_movie_df = df.pivot(index='userId',columns='movieId',values='rating')

In [11]:
user_movie_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
user_movie_df.shape

(610, 9724)

In [14]:
#replacing NAN values with 0
user_movie_df.fillna(value=0,inplace=True)

In [15]:
user_movie_df.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Calculating Cosine Similarity between Users:

In [43]:
from sklearn.metrics import pairwise_distances
from sklearn.metrics import euclidean_distances
from sklearn.metrics import jaccard_similarity_score
from scipy.spatial.distance import cosine, correlation

In [17]:
user_sim = 1- pairwise_distances(user_movie_df.values,metric='cosine')# default metric is euclidean dist

# store the results in a dataframe
user_sim_df_cos = pd.DataFrame(user_sim)

In [18]:
user_sim_df_cos.head()

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [19]:
user_sim_df_cos.shape

(610, 610)

In [20]:
user_sim_df_cos.index = df['userId'].unique()
user_sim_df_cos.columns = df['userId'].unique()

In [21]:
user_sim_df_cos.head()

,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
1,1.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,1.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,1.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,1.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,1.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [24]:
#fill diagonal with zero 
np.fill_diagonal(user_sim,0)
user_sim_df_cos.head()

,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
1,0.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
2,0.027283,0.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
3,0.059720,0.000000,0.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
4,0.194395,0.003726,0.002251,0.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
5,0.129080,0.016614,0.005020,0.128659,0.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792

In [28]:
# recommendation for USER-1
user_sim_df_cos[1].sort_values(ascending=False).head()
# top 5 users

266    0.357408
313    0.351562
368    0.345127
57     0.345034
91     0.334727
Name: 1, dtype: float64

In [29]:
user_sim_df_cos.idxmax(axis=1).head() # highest similarity for users

# for user1 it is 266.. etc..

1    266
2    366
3    313
4    391
5    470
dtype: int64

### Finding common movies of similar Users:

In [30]:
movies_df =pd.read_csv('F://movies.csv')

In [31]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [32]:
movies_df.drop('genres',axis=1,inplace=True)
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

![img](https://i.postimg.cc/fwG782ps/joins.png)

In [36]:
def get_user_similar_movies(user1,user2):
    # Inner join b/w movies watched b/w 2 users will give
    # the common movies watched.
    common_movies =  df[df['userId']== user1].merge(
        df[df['userId']== user2], on = 'movieId', how = 'inner')
    
    return common_movies.merge(movies_df, on= 'movieId')

In [41]:
common_movies =  get_user_similar_movies(1,266)

In [42]:
common_movies

,userId_x,movieId,rating_x,userId_y,rating_y,title
0,1,1,4.0,266,2.0,Toy Story (1995)
1,1,6,4.0,266,4.0,Heat (1995)
2,1,50,5.0,266,4.0,"Usual Suspects, The (1995)"
3,1,110,4.0,266,5.0,Braveheart (1995)
4,1,223,3.0,266,4.0,Clerks (1994)
5,1,235,4.0,266,4.0,Ed Wood (1994)
6,1,260,5.0,266,4.0,Star Wars: Episode IV - A New Hope (1977)
7,1,296,3.0,266,5.0,Pulp Fiction (1994)
8,1,316,3.0,266,3.0,Stargate (1994)
9,1,356,4.0,266,4.0,Forrest Gump (1994)
10,1,367,4.0,266,3.0,"Mask, The (1994)"
11,1,441,4.0,266,3.0,Dazed and Confused (1993)
12,1,457,5.0,266,4.0,"Fugitive, The (1993)"
13,1,480,4.0,266,4.0,Jurassic Park (1993)
14,1,592,4.0,266,4.0,Batman (1989)
15,1,608,5.0,266,5.0,Fargo (1996)
16,1,733,4.0,266,5.0,"Rock, The (1996)"
17,1,919,5.0,266,1.0,"Wizard of Oz, The (1939)"
18,1,1042,4.0,266,3.0,That Thing You Do! (1996)
19,1,1060,4.0,266,2.0,Swingers (1996)
20,1,1080,5.0,266,5.0,Monty Python's Life of Brian (1979)
21,1,1089,5.0,266,5.0,Reservoir Dogs (1992)
22,1,1090,4.0,266,5.0,Platoon (1986)
23,1,1097,5.0,266,2.0,E.T. the Extra-Terrestrial (1982)
24,1,1127,4.0,266,4.0,"Abyss, The (1989)"
25,1,1136,5.0,266,5.0,Monty Python and the Holy Grail (1975)
26,1,1196,5.0,266,5.0,Star Wars: Episode V - The Empire Strikes Back...
27,1,1197,5.0,266,4.0,"Princess Bride, The (1987)"
28,1,1198,5.0,266,5.0,Raiders of the Lost Ark (Indiana Jones and the...
29,1,1206,5.0,266,5.0,"Clockwork Orange, A (1971)"
...,...,...,...,...,...,...
37,1,1270,5.0,266,4.0,Back to the Future (1985)
38,1,1275,5.0,266,4.0,Highlander (1986)
39,1,1291,5.0,266,5.0,Indiana Jones and the Last Crusade (1989)
40,1,1298,5.0,266,5.0,Pink Floyd: The Wall (1982)
41,1,1500,4.0,266,3.0,Grosse Pointe Blank (1997)
42,1,1517,5.0,266,4.0,Austin Powers: International Man of Mystery (1...
43,1,1573,5.0,266,4.0,Face/Off (1997)
44,1,1580,3.0,266,3.0,Men in Black (a.k.a. MIB) (1997)
45,1,1617,5.0,266,4.0,L.A. Confidential (1997)
46,1,1732,5.0,266,5.0,"Big Lebowski, The (1998)"
47,1,2000,4.0,266,3.0,Lethal Weapon (1987)
48,1,2028,4.0,266,4.0,Saving Private Ryan (1998)
49,1,2094,5.0,266,3.0,"Rocketeer, The (1991)"
50,1,2105,4.0,266,4.0,Tron (1982)
51,1,2115,5.0,266,4.0,Indiana Jones and the Temple of Doom (1984)
52,1,2174,4.0,266,4.0,Beetlejuice (1988)
53,1,2253,2.0,266,1.0,Toys (1992)
54,1,2353,5.0,266,3.0,Enemy of the State (1998)
55,1,2387,5.0,266,4.0,Very Bad Things (1998)
56,1,2395,5.0,266,3.0,Rushmore (1998)
57,1,2571,5.0,266,5.0,"Matrix, The (1999)"
58,1,2580,5.0,266,4.0,Go (1999)
59,1,2700,5.0,266,5.0,"South Park: Bigger, Longer and Uncut (1999)"
60,1,2716,5.0,266,5.0,Ghostbusters (a.k.a. Ghost Busters) (1984)
61,1,2797,4.0,266,4.0,Big (1988)
62,1,2916,4.0,266,5.0,Total Recall (1990)
63,1,2947,5.0,266,5.0,Goldfinger (1964)
64,1,2959,5.0,266,5.0,Fight Club (1999)
65,1,2985,4.0,266,4.0,RoboCop (1987)
66,1,3052,5.0,266,5.0,Dogma (1999)

In [44]:
# not common movies in user 1 and 266 :
# from that recommend movies to user1.
# check what movie are not common movies in 266

In [55]:
def get_user_not_similar_movies(user1,user2):
    # Inner join b/w movies watched b/w 2 users will give
    # the common movies watched.
    not_common_movies =  df[df['userId']== user1].merge(df[df['userId']== user2], on = 'movieId', how = 'outer')
    
    return not_common_movies.merge(movies_df, on= 'movieId')

In [56]:
not_common_movies=  get_user_not_similar_movies(1,266)

In [57]:
not_common_movies

,userId_x,movieId,rating_x,userId_y,rating_y,title
0,1.0,1,4.0,266.0,2.0,Toy Story (1995)
1,1.0,3,4.0,NaN,NaN,Grumpier Old Men (1995)
2,1.0,6,4.0,266.0,4.0,Heat (1995)
3,1.0,47,5.0,NaN,NaN,Seven (a.k.a. Se7en) (1995)
4,1.0,50,5.0,266.0,4.0,"Usual Suspects, The (1995)"
5,1.0,70,3.0,NaN,NaN,From Dusk Till Dawn (1996)
6,1.0,101,5.0,NaN,NaN,Bottle Rocket (1996)
7,1.0,110,4.0,266.0,5.0,Braveheart (1995)
8,1.0,151,5.0,NaN,NaN,Rob Roy (1995)
9,1.0,157,5.0,NaN,NaN,Canadian Bacon (1995)
10,1.0,163,5.0,NaN,NaN,Desperado (1995)
11,1.0,216,5.0,NaN,NaN,Billy Madison (1995)
12,1.0,223,3.0,266.0,4.0,Clerks (1994)
13,1.0,231,5.0,NaN,NaN,Dumb & Dumber (Dumb and Dumber) (1994)
14,1.0,235,4.0,266.0,4.0,Ed Wood (1994)
15,1.0,260,5.0,266.0,4.0,Star Wars: Episode IV - A New Hope (1977)
16,1.0,296,3.0,266.0,5.0,Pulp Fiction (1994)
17,1.0,316,3.0,266.0,3.0,Stargate (1994)
18,1.0,333,5.0,NaN,NaN,Tommy Boy (1995)
19,1.0,349,4.0,NaN,NaN,Clear and Present Danger (1994)
20,1.0,356,4.0,266.0,4.0,Forrest Gump (1994)
21,1.0,362,5.0,NaN,NaN,"Jungle Book, The (1994)"
22,1.0,367,4.0,266.0,3.0,"Mask, The (1994)"
23,1.0,423,3.0,NaN,NaN,Blown Away (1994)
24,1.0,441,4.0,266.0,3.0,Dazed and Confused (1993)
25,1.0,457,5.0,266.0,4.0,"Fugitive, The (1993)"
26,1.0,480,4.0,266.0,4.0,Jurassic Park (1993)
27,1.0,500,3.0,NaN,NaN,Mrs. Doubtfire (1993)
28,1.0,527,5.0,NaN,NaN,Schindler's List (1993)
29,1.0,543,4.0,NaN,NaN,So I Married an Axe Murderer (1993)
...,...,...,...,...,...,...
315,NaN,2396,NaN,266.0,1.0,Shakespeare in Love (1998)
316,NaN,2428,NaN,266.0,1.0,"Faculty, The (1998)"
317,NaN,2471,NaN,266.0,1.0,Crocodile Dundee II (1988)
318,NaN,2490,NaN,266.0,2.0,Payback (1999)
319,NaN,2539,NaN,266.0,4.0,Analyze This (1999)
320,NaN,2560,NaN,266.0,4.0,Ravenous (1999)
321,NaN,2599,NaN,266.0,5.0,Election (1999)
322,NaN,2605,NaN,266.0,1.0,Entrapment (1999)
323,NaN,2683,NaN,266.0,5.0,Austin Powers: The Spy Who Shagged Me (1999)
324,NaN,2702,NaN,266.0,5.0,Summer of Sam (1999)
325,NaN,2706,NaN,266.0,1.0,American Pie (1999)
326,NaN,2710,NaN,266.0,1.0,"Blair Witch Project, The (1999)"
327,NaN,2712,NaN,266.0,5.0,Eyes Wide Shut (1999)
328,NaN,2770,NaN,266.0,3.0,Bowfinger (1999)
329,NaN,2791,NaN,266.0,1.0,Airplane! (1980)
330,NaN,2804,NaN,266.0,4.0,"Christmas Story, A (1983)"
331,NaN,2812,NaN,266.0,3.0,In Too Deep (1999)
332,NaN,2863,NaN,266.0,4.0,"Hard Day's Night, A (1964)"
333,NaN,2890,NaN,266.0,5.0,Three Kings (1999)
334,NaN,2918,NaN,266.0,2.0,Ferris Bueller's Day Off (1986)
335,NaN,2968,NaN,266.0,5.0,Time Bandits (1981)
336,NaN,3016,NaN,266.0,3.0,Creepshow (1982)
337,NaN,3020,NaN,266.0,3.0,Falling Down (1993)
338,NaN,3039,NaN,266.0,4.0,Trading Places (1983)
339,NaN,3060,NaN,266.0,5.0,"Commitments, The (1991)"
340,NaN,3108,NaN,266.0,5.0,"Fisher King, The (1991)"
341,NaN,3113,NaN,266.0,1.0,End of Days (1999)
342,NaN,3142,NaN,266.0,1.0,U2: Rattle and Hum (1988)
343,NaN,3156,NaN,266.0,1.0,Bicentennial Man (1999)
344,NaN,3265,NaN,266.0,5.0,Hard-Boiled (Lat sau san taam) (1992)